// NavItem

.nav-item {
  &-crypto-type a {
    width: 179px;
    border-radius: 10px;

    background: #457B9D;

    font-size: 18px;
    color: #F1FAEE;
  }

  &-view-type a {
    width: 90px;
    border-radius: 10px;
  
    background: #1D3557;
  
    font-size: 12px;
    color: #ffffff;
  }
}

.nav-item a {
  display: block;

  padding: 7px 0;

  text-align: center;
  text-transform: uppercase;

  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}