// Navigation

.navigation {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;

  width: 575px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}