.capitalization {
  margin-top: 22px;

  text-align: center;
}

.capitalization-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.capitalization-value {
  margin: 0;

  font-size: 24px;
  color: #E63946;
}